<div class="container-fluid d-flex justify-content-center">
    <div class="p-4">
        <div id="about">
            <div id="cabecalho">
                <h1>Leticia Bartolini Gomes</h1>
                <p>Estudante de medicina veterinaria - 4º Período - UNA Contagem</p>
            </div>
            <div id="especialidades">
                <p>Interesses:</p>
            <ul>
                <li>Estágio em clínica veterinária de pequeno animais</li>
                <li>Cirurgia em pequeno animais</li>
            </ul>
            <p>Cursos Complementares:</p>
            <ul>
                <li>Marketing Digital</li>
                <li>Inglês Avançado</li>
            </ul>
            </div>
            <div id="contatos" class="mb-5">
                <p>Contatos ✨</p>
            <a class="btn btn-success" href="https://wa.me/553198730295" target="_blank"><i class="bi bi-whatsapp"></i> (31) 99873-0295</a>
            <input type="button" class="ml-3 btn btn-danger" (click)="copiarEmail()" ngxClipboard cbContent="leticiabartolinig@gmail.com" value="leticiabartolinig@gmail.com" />
            </div>
        </div>
    </div>
</div>