<div class="container-fluid d-flex justify-content-center">
    <div class="p-5">
        <div id="about" class="mt-5">
            <div id="cabecalho">
                <h1>Leticia Bartolini Gomes</h1>
                <p>Estudante de medicina veterinaria - 4º Período - UNA Contagem</p>
            </div>
            <div id="especialidades" class="mt-3">
                <p>Interesses:</p>
            <ul>
                <li>Estágio em clínica veterinária de pequeno animais</li>
                <li>Cirurgia em pequeno animais</li>
            </ul>
            <p>Cursos Complementares:</p>
            <ul>
                <li>Marketing Digital</li>
                <li>Inglês Avançado</li>
            </ul>
            </div>
            <div id="contatos" class="mb-5">
                <p>Contatos ✨</p>
            <button class="btn btn-success"><i class="bi bi-whatsapp"></i> (31)99999-9999</button>
            <button class="ml-3 btn btn-danger"><i class="bi bi-envelope-at"></i> let@gmail.com</button>
            </div>
        </div>
    </div>
</div>